{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "strict": 0,
    "max-len": off
  },
  "plugins": [
    "babel",
    "import",
    "react"
  ],
  "settings" : {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "globals": {
    "chai": true,
    "sinon": true
  }
}